*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: #050a18;
  color: white;
  text-align: center;
}
/* navbar style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: relative;
}
.logo{
  font-size: 24px;
  font-weight: bold;
}
.logo span{
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hamburger{
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span{
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 5px;
}

#menu-toggle, .hamburger{
  display: none;
}
.nav-links{
  display: flex;
  list-style: none;
}
.nav-links li{
  margin: 0 15px;
}
.nav-links a{
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}
.btn-subscribe{
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.btn-subscribe:hover{
  background: gray;
  transform: scale(1.05);
}
.wave-line{
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
  transparent,
  #7b6cff, #ff4ecd, #ffa24d,transparent);
}
/* === Hero section === */
.hero{
  min-height: 100vh;
  width: 100%;
  background: url("images/hero-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overley{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.circle-box{
  position: relative;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: -100px;
}
.circle{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mic{
  position: absolute;
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
  position: absolute;
  top: 1%;
  right: 0 ;
  transform: translate(-100%, 100%);
  background: linear-gradient(45deg, #00ff9d, #00c9ff);
  font-size: 12px;
  font-weight: bold;
  color: #000;
  border-radius: 20px;
  padding: 5px 12px;
}

/* Media Query */
@media (max-width:576px) {
  /* .navbar{
    display: block;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  } */
  
  .hamburger{
    display: flex;
  }
  .nav-links{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #050a18;
    display: none;
    align-items: center;
    flex-direction: column;
  }
  .nav-links li{
    margin: 15px 0;
  }
  
  #menu-toggle:checked ~ .nav-links{
    display: flex;
  }
  .btn-subscribe{
    display: none;
  }
}