*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: rgba(26, 11, 46, 1);
  color: white;
  text-align: center;
}
/* navbar style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: relative;
}
.logo{
  font-size: 24px;
  font-weight: bold;
}
.logo span{
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hamburger{
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span{
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 5px;
}

#menu-toggle, .hamburger{
  display: none;
}
.nav-links{
  display: flex;
  list-style: none;
}
.nav-links li{
  margin: 0 15px;
}
.nav-links a{
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}
.btn-subscribe{
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.btn-subscribe:hover{
  background: gray;
  transform: scale(1.05);
}
.wave-line{
  width: 100%;
  height: 1px;
  background: rgba(67, 0, 224, 0.858);
}
/* === Hero section === */
.hero{
  min-height: 100vh;
  width: 100%;
  background: url("images/hero-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overley{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.circle-box{
  position: relative;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: -100px;
}
.circle{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mic{
  position: absolute;
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
  position: absolute;
  top: 1%;
  right: 0 ;
  transform: translate(-100%, 100%);
  background: linear-gradient(45deg, #00ff9d, #00c9ff);
  font-size: 12px;
  font-weight: bold;
  color: #000;
  border-radius: 20px;
  padding: 5px 12px;
}
h1{
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}
p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: .8;
  margin-bottom: 25px;
}
.button{
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-primary{
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
}
.btn-outline{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 25px;
  border: 2px solid #00ff9d;
  color: #00ff9d;
}
.btn-outline:hover{
  background: gray;
  transform: scale(1.05);
}
/* === about section ==== */
.about{
  background: rgba(26, 11, 46, 1);
  padding: 0 20px;
}
.container{
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
.about h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.description{
  font-size: 16px;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto 15px;
  color: #cfd3ff;
  line-height: 1.7;
}
.divider{
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  margin: 50px 0;
}
.START{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.start-box h3{
  font-weight: 900;
  font-size: 48px;
  color: #2aff7d;
  margin-bottom: 8px;
}
.start-box p{
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
  letter-spacing: 1px;
}
.big{
  background: #230E3D;
  color: #fff;
  padding: 120px 200px;
}
.features{
  max-width: 1200px;
  margin: auto;
}
.features h2{
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.card{
  background: rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  padding: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card img{
  width: 40px;
  margin-bottom: 20px;
}
.btn-icon{
  display: block;
  text-align: left;
}
.card h3{
  font-size: 24px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 10px ;
}
.card p{
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 1.6;
  color: #dcdcff;
}
.big{
  grid-row: span 2;
}
.wide{
  grid-column: span 2;
}
.long{
  grid-column: span 2;
}
.video-box{
  padding: 60px 20px;
  text-align: center;
}
.video-box h2{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.ctn-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-one{
  background: linear-gradient(180deg, #2c316d, #1a1f3c);
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}
.card-one:hover{
  transform: translateY(-10px);
}
.video iframe{
  width: 100%;
  height: 200px;
  display: block;
  border: none;
}
.content-box{
  padding: 22px;
}
.content-box h3{
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.3;
}
.content-box p{
  font-size: 14px;
  line-height: 1.6;
  color: #cfd3ff;
  margin-bottom: 18px;
}
.icon-box{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4cff9a;
  font-size: 14px;
}
.icon-box img{
  width: 16px;
  height: 16px;
}


/*=== Media Query ====*/
@media (max-width:576px) {
  .hamburger{
    display: flex;
  }
  .nav-links{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #050a18;
    display: none;
    align-items: center;
    flex-direction: column;
  }
  .nav-links li{
    margin: 15px 0;
  }
  
  #menu-toggle:checked ~ .nav-links{
    display: flex;
  }
  .btn-subscribe{
    display: none;
  }
  /* ===hero circle === */
  .circle-box{
    width: 240px;
    height: 240px;
    margin-top: -40px;
  }
  .mic{
    width: 50%;
  }
  .badge{
    font-size: 10px;
    padding: 4px 10px;
    top: 0;
  }
  h1{
    font-size: 36px;
  }
  p{
    font-size: 14px;
    padding: 0 15px;
  }
  .button{
    flex-direction: column;
    gap: 12px;;
  }
  .btn-primary,
  .btn-outline{
    font-size: 14px;
    padding: 10px 22px;
  }
  .about h2{
    font-size: 32px;
  }
  .start-box h3{
    font-size: 32px;
  }
  .START{
    grid-template-columns: repeat(2, 1fr);
  }
  .big{
    padding: 60px 16px;
  }
  .features h2{
    font-size: 30px;
    margin-bottom: 40px;
  }
  .grid{
    grid-template-columns: 1fr;
  }
  .card, .big, .wide, .long{
    grid-column: span 1;
    grid-row: span 1;
  }
  .card{
    padding: 24px;
  }
  .card h3{
    font-size: 20px;
  }
  .card p{
    font-size: 15px;
  }
  .ctn-container{
    flex-direction: column;
    align-items: center;
  }
  .card-one{
    width: 100%;
    max-width: 360px;
  }
}
/* === Medium device ==== */
@media (min-width:576px) and (max-width:992px) {
  .circle-box{
    width: 300px;
    height: 300px;
    margin-top: -70px;
  }
  .mic{
    width: 48%;
  }
  h1{
    font-size: 48px;
  }
  p{
    font-size: 15px;
  }
  .START{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .big{
    padding: 80px 40px;
  }
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .card.big{
    grid-row: span 1;
  }
  .wide, .long{
    grid-column: span 2;
  }
  .features h2{
    font-size: 40px;
  }
  .card-one{
    width: 300px;
  }
}

/* ===Large device === */
@media (min-width:992px) {
  /* desktop style already applied */
}